{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/png"
          href="https://static.vecteezy.com/system/resources/previews/005/484/215/original/super-car-logo-free-vector.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>Cars universe</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--

    TemplateMo 546 Sixteen Clothing

    https://templatemo.com/tm-546-sixteen-clothing

    -->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

</head>

<body>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'dashboard' %}"><h2>Cars <em>Universe</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Home
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'tools' %}">Our Shop</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'events' %}">Events</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile details' request.user.id %}">Profile

                        </a>
                    </li>
                    <li class="nav-item">
                        <form method="post"></form>
                        <a class="nav-link" href="{% url 'logout user' %}">Logout

                        </a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'tool create' %}">Add tool</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'event create' %}">Add event</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'part create' %}">Add part</a>
                        </li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <form method="post"></form>
                            <a class="nav-link" href="{% url 'cart' %}">My Cart</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="{{ tool.photo.url }}" height="800" alt="First slide">
            <div class="carousel-caption d-none d-md-block font">
                <h3>{{ tool.name }}</h3>
                <hr></hr>
                <p class="font2"></p>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Banner Ends Here -->


    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Tool info</h2>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="product-item">
                        <a href="{% url 'tool details' tool.id %}"><img src="{{ tool.photo.url }}" width="150"
                                                                          height="250" alt=""></a>
                        <div class="down-content">
                            <a href="#"><h4>{{ tool.name }}</h4></a>
                            <h6>{{ tool.price }}lv</h6>
                            <p>{{ tool.description }}</p>
                            <ul class="stars">
                                {% if request.user.is_staff %}
                                    <a href="{% url 'edit tool' tool.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete tool' tool.id %}" class="btn btn-danger">Delete</a>
                                {% endif %}
                                <a href="{% url 'add_to_cart' tool.id 'tool' %}" class="btn btn-danger">Buy</a>
                            </ul>
                            <span>Brand: {{ tool.brand }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>


    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }
    </script>

</div>
</body>

</html>